.widget-main-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#widget-container {
  max-width: 100%;
  width: 110rem;
  margin: 2.5rem auto;
  // padding: 0 3rem;
  overflow: hidden;

  ul {
    display: grid;
    grid-gap: 1rem;
    padding: 1.5rem;
    grid-gap: 1rem;

    @include xs {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    @include breakpoint(1203px) {
      grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
    }

    li {
      @include flex-content(center, center, 1rem, 0);
      flex-direction: column;
      min-height: 350px;
      max-width: 100%;
      margin: auto;
      padding: 1rem;
      transition: box-shadow 150ms ease-in-out;
      cursor: default;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      // img {
      //   @include scale-size(140px, 140px);
      //   background-color: orange;
      //   padding: 1rem;
      //   border-radius: 100%;
      // }

      .widget-overlay {
        padding: 1.6rem;
        // background-color: map-get($primary-colors, venice-blue);
        // background-color: rgb(23, 107, 135, 0.6);
        border: 1px map-get($primary-colors, venice-blue) solid;
        border-radius: 100%;
        transition: background-color, transform 150ms ease;

        &.active {
          transform: translateY(-10px);
          background-color: rgb(23, 107, 135, 1);
        }

        &-icons {
          @include background-property(no-repeat, cover, center);
          height: 80px;
          width: 80px;
        }
      }
      h1 {
        @include font-styles($fn-poppins, xl, $neutral-colors, baltic-sea);
        font-weight: map-get($font-weights, bold);
      }

      p,
      span {
        @include font-styles($fn-poppins, s, $default-colors, black);
        font-weight: map-get($font-weights, regular);
        line-height: 1.8rem;
        text-align: center;
      }

      span {
        font-style: oblique;
      }
    }
  }
}

.marketing-abstract {
  @include background-property(no-repeat, contain, right);
  position: absolute;
  z-index: -1;
  bottom: -50px;

  @include xs {
    opacity: 0.07;
    height: 200vh;
    width: 160%;
    right: -400px;
  }

  @include breakpoint(863px) {
    opacity: 0.06;
    height: 100vh;
    width: 100%;
    right: -110px;
  }
}
